html, body, .app, .fullscreen {
  --background-color: #9b4dca;
  background: var(--background-color);
  width: 100%;
  height: 100%;
}

.modal, .modal_background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal {
  background: white;
  padding: 30px;
}

.modal_background {
  background: var(--background-color);
}

.chat {
  display: flex;
  flex-flow: column;
  height: 100%;
}

@media(min-width: 40.0rem) {
  .modal {
    border-radius: 20px;
    max-height: 50%;
    margin: auto;
    width: 50%;
  }  
}