html, body, #root {
  background: #9b4dca;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: stretch;
  justify-content: center;
}

.login, .chat {
  padding: 5px;
  border-radius: 5px;
  background: white;
}

@media(min-width: 40.0rem) {
  .login, .chat {
    border-radius: 20px;
    padding: 20px;
  }
}

.chat {
  flex: 1;
  overflow-y: scroll;
  margin: 15px 0;
}

.inputAction {
  display: flex;
}

.inputAction input {
  background: #FFFFFF;
}

.inputAction .button {
  --button-color: #27ae60;
  background: var(--button-color);
  border-color: var(--button-color);
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
